@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color1: #7286D3;
    --color2: #8EA7E9;
    --color3: #E5E0FF;
    --color4: #FFF2F2;
    --color-text: #000;
    --color-text-menu: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--color4);
}

/* Menu */
.menu_icon {
    visibility: hidden;
}

nav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--color1);
    overflow-x: hidden;
    text-shadow: none;
}

.nav_desktop {  
    height: 100%;   
    display: flex;  
    flex-direction: column; 
    align-items: center;    
    justify-content: center;    
}   

.nav_phone {    
    display: none;  
}   

.menu { 
    padding: 3%;    
    margin: 10%;    
    text-decoration: none;  
    font-size: 25px;    
    font-weight: bold;  
    display: block; 

}   

nav a { 
    color: var(--color4);   
    position: relative; 
    text-decoration: none;  
}   

.closebtn { 
    position: absolute; 
    top: 20px;  
    right: 45px;    
    font-size: 60px;    
    visibility: hidden; 
}   

nav a::before { 
    background: var(--color2);  
    content: "";    
    inset: 0;   
    position: absolute; 
    transform: scaleX(0);   
    transform-origin: right;    
    transition: transform 0.5s ease-in-out; 
    z-index: -1;    
}   

nav a:hover::before {   
    transform: scaleX(1);   
    transform-origin: left; 
}   

/*body*/    
main {  
    position: absolute; 
    left: 0;    
    right: 0;   
    margin: 3% 0 0 20%; 
    background-color: transparent;  
    display: flex;  
    flex-direction: column; 
    align-items: center;    
    text-shadow: 0px 0px 5px var(--color4); 
}   

p { 
    width: 70%; 
    text-align: center; 
    padding-top: 1%;    

}   


/* Circles */   
.circles {  
    position: fixed;    
    top: 0; 
    left: 0;    
    width: 100%;    
    height: 100%;   
    overflow: hidden;   
    z-index: -1;    
}   

.circles li {   
    position: absolute; 
    display: block; 
    list-style: none;   
    width: 20px;    
    height: 20px;   
    background: var(--color1);  
    animation: animate 25s linear infinite; 
    bottom: -150px; 
    z-index: -1;    

}   

.circles li:nth-child(1) {  
    left: 25%;  
    width: 80px;    
    height: 80px;   
    animation-delay: 0s;    
}   


.circles li:nth-child(2) {  
    left: 10%;  
    width: 20px;    
    height: 20px;   
    animation-delay: 2s;    
    animation-duration: 12s;    
}   

.circles li:nth-child(3) {  
    left: 70%;  
    width: 20px;    
    height: 20px;   
    animation-delay: 4s;    
}   

.circles li:nth-child(4) {  
    left: 40%;  
    width: 60px;    
    height: 60px;   
    animation-delay: 0s;    
    animation-duration: 18s;    
}   

.circles li:nth-child(5) {  
    left: 65%;  
    width: 20px;    
    height: 20px;   
    animation-delay: 0s;    
}   

.circles li:nth-child(6) {  
    left: 75%;  
    width: 110px;   
    height: 110px;  
    animation-delay: 3s;    
}   

.circles li:nth-child(7) {  
    left: 35%;  
    width: 150px;   
    height: 150px;  
    animation-delay: 7s;    
}   

.circles li:nth-child(8) {  
    left: 50%;  
    width: 25px;    
    height: 25px;   
    animation-delay: 15s;   
    animation-duration: 45s;    
}   

.circles li:nth-child(9) {  
    left: 20%;  
    width: 15px;    
    height: 15px;   
    animation-delay: 2s;    
    animation-duration: 35s;    
}   

.circles li:nth-child(10) { 
    left: 85%;  
    width: 150px;   
    height: 150px;  
    animation-delay: 0s;    
    animation-duration: 11s;    
}   



@keyframes animate {    

    0% {    
        transform: translateY(0) rotate(0deg);  
        opacity: 2; 
        border-radius: 0;   
    }   

    100% {  
        transform: translateY(-1000px) rotate(720deg);  
        opacity: 0; 
        border-radius: 50%; 
    }   

}   

/*Responsividade*/  

@media (max-width: 600px) { 
    nav {   
        height: 10%;    
        width: 100%;    
        display: flex;  
        align-items: center;    
    }   

    .nav_desktop {  
        display: none;  
    }   

    .nav_phone {    
        height: 10%;    
        width: 100%;    
        top: 0; 
        visibility: visible;    
        display: flex;  
        flex-direction: row;    
        align-items: center;    
        justify-content: center;    
    }   

    .nav_phone img {    
        width: 25px;    
        height: 25px;   
    }   

    .menu { 
        margin: 0;  
        padding: 0 5%;  
    }   

    main {  
        height: 87%;    
        width: 100%;    
        margin: 0 ;  
        padding: 0; 
        bottom: 0;
    }   

    .sobre .container { 
        flex-direction: column-reverse; 
        font-size: 15px;    
    }   

    p { 
        width: 80%; 
        text-align: justify;    
    }   

    .hobbies .container {   
        display: flex;  
        flex-direction: column; 
    }   

    .hobbies .box img { 
        margin-right: 0;    
    }   

    .hobbies h1 {   
        width: 90%; 
    }   

    .hobbies p {    
        width: 80%; 
    }   



}   