:root {
    --color1: #7286D3;
    --color2: #8EA7E9;
    --color3: #E5E0FF;
    --color4: #FFF2F2;
    --color-text: #000;
}

main {
    margin-top: 8%;
}

.container {
    display: grid;
    grid-template-columns: auto 400px;
    grid-template-rows: auto auto;
    gap: 20px;
    margin-top: 5%;

}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;

}

.box img {
    width: 100px;
    height: 100px;
    margin-right: 10%;
}

h1 {
    width: 80%;
    text-align: center;
}

p {
    width: 100%;
    text-align: justify;
}




#images {
    /* -webkit-animation: images 4s alternate infinite ease-in-out;*/
    animation: images 3.5s alternate infinite ease-in-out;
}

@-webkit-keyframes images {
    from {
        -webkit-transform: rotate(4deg)
    }

    to {
        -webkit-transform: rotate(-4deg)
    }
}

@keyframes images {
    0% {
        transform: rotate(4deg)
    }

    50% {
        transform: rotate(-4deg)
    }

    100% {
        transform: rotate(4deg)
    }
}