
/* Sobre */
.sobre .container {
    color: var(--color4);
    font-size: 2.26rem;
    text-transform: uppercase;
    display: flex;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    text-shadow: none;
}

.sobre .animacao {
    height: 50px;
    overflow: hidden;
    margin-left: 1rem;
}

.sobre .animacao>div>div {
    padding: 0.25rem 1rem;
    height: 2.81rem;
    margin-bottom: 2.81rem;
    display: inline-block;
}

.sobre .primeiro,
.sobre .segundo,
.sobre .terceiro {
    text-align: center;
}

.sobre .animacao div:first-child {
    animation: text-animation 8s infinite;
}

.sobre .primeiro div {
    background-color: var(--color1);
}

.sobre .segundo div {
    background-color: var(--color1);
}

.sobre .terceiro div {
    background-color: var(--color1);
}

@keyframes text-animation {
    0% {
        margin-top: 0;
    }

    10% {
        margin-top: 0;
    }

    20% {
        margin-top: -5.62rem;
    }

    30% {
        margin-top: -5.62rem;
    }

    40% {
        margin-top: -11.24rem;
    }

    60% {
        margin-top: -11.24rem;
    }

    70% {
        margin-top: -5.62rem;
    }

    80% {
        margin-top: -5.62rem;
    }

    90% {
        margin-top: 0;
    }

    100% {
        margin-top: 0;
    }
}

.sobre .photo {
    width: 150px;
    height: 150px;
}

